{%  extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Tasks</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>Task Name</th>
					<th>Task Description</th>
					<th>Task Features</th>
					<th>Task Status</th>
				</tr>
				{% for i in tasks %}
				<tr>
					<td>{{i.taskname}}</td>
					<td>{{i.taskdescription}}</td>
					<td>{{i.taskfeatures}}</td>
					<td>{{i.status}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock content %}